# Exclude packaged modules
*.zip

# Exclude .NET assemblies from source
*.dll

# Exclude environment files
.env

# Exclude key files
*.key

# Exclude local history
/.history

# Exclude PSCrestron module
/PSCrestron

# Exclude manifest files
manifest.json
*.manifest.json
!example.manifest.json

# Exclude audit folders
/****-**-**_**-**-**
